{% extends 'base.html' %}

{% block h1 %}
<h1>{{ item.sku.category.name }} {{ item }}</h1>
{% endblock h1 %}


{% block content %}

<table class="table table-bordered" style="width: 300px">
    <tr>
	<th>SKU</th><td>{{ item.sku.code }}</td>
    </tr>
    <tr>
	<th>Tag</th><td>{{ item.tag }}</td>
    </tr>
    <tr>
	<th>Status</th><td>{{ item.status }}</td>
    </tr>
    <tr>
	<th>In Stock</th><td>{% if item.in_stock %}Yes{% else %}No{% endif %}</td>
    </tr>
    <tr>
	<th>Refburb</th><td>{% if item.refurb %}Yes{% else %}No{% endif %}</td>
    </tr>
    <tr>
	<th>Notes</th><td>{{ item.notes }}</td>
    </tr>

</table>




{% if item.components.all %}
    <h2>Components</h2>
    <table class="table table-striped table-condensed">
	<tr>
	    <th>Type</th>
	    <th>Qty</th>
	    <th>SKU</th>
	    <th>Tag</th>
	    <th>Notes</th>
	</tr>
    {% for component in item.components.all %}
	<tr>
	    <td>{{ component.sku.category.name }}</td>
	    <td>{{ component.quantity }}</td>
	    <td>{{ component.sku.code }}</td>
	    <td>{{ component.tag }}</td>
	    <td>{{ component.notes }}</td>
	</tr>
    {% endfor %}
    </table>
{% endif %}

<div class="note">
This page I could see dynamic/ajax editing...
</div>

{% endblock content %}
